.tablestripe
{
    border-color: brown;
    border:5px;
}
.box{
    width:100px;
    height:100px;
    background-color: blanchedalmond;
}
.yesbox{
    width:100px;
    height:100px;
    background-color: plum;
}
.nobox{
    width:100px;
    height:100px;
    background-color: olive;
}
